    <nav id="responsive">
        <h1 class="logo"><a href="/">Kcal-cal</a></h1>
        <div class="bars">
            <i class="fas fa-bars"></i>
        </div>
        <div class="times none">
            <i class="fas fa-times"></i>
        </div>
      </nav>
      <nav class="click-nav none">
          <ul>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/main"><i class="fas fa-fire"></i>칼로리 체크</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub1"><i class="fas fa-calculator"></i>BMI 측정</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub2"><i class="fas fa-running"></i>건강 정보</a>
                </h3>
              </li>
              <li>
                <h3>
                  <b class="top-curve"></b>
                  <b class="bottom-curve"></b>
                  <a href="/sub3"><i class="far fa-meh-blank"></i>건강 상태</a>
                </h3>
              </li>
            </ul>
      </nav>