<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME | Kal-cal</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="../static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="../static/css/header.css">
  <!-- css : footer -->
  <link rel="stylesheet" href="../static/css/footer.css">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
  <div id="skipNav">
    <a href="#content">본문 바로가기</a>
    <a href="#gnb">글로벌 네비게이션 바로가기</a>
  </div>

  <div id="wrap">
    <header id="headerArea">
      <div class="headerInner">
        <h1><a href="/">Kcal-cal</a></h1>
        <nav id="gnb">
          <h2 class="hidden">네비게이션 영역</h2>
          <ul>
            <li>
              <h3><a href="/sub1">칼로리 측정</a></h3>
            </li>
            <li>
              <h3><a href="/sub2">피트니스</a></h3>
            </li>
            <li>
              <h3><a href="/sub3">비만도 측정</a></h3>
            </li>
            <li>
              <h3><a href="/sub4">기초대사량</a></h3>
            </li>
          </ul>
        </nav>
        <a href="#" class="menu_ham">
          <span>메뉴열고닫기</span>
        </a>
      </div>
    </header>

    <script src="../static/js/header.js"></script>
  </div>
</body>

</html>