<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="578171222361-iaustilvoe8n5qeuj5j1fvap70gs2a35.apps.googleusercontent.com"
    />
    <title>Login Page</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="wrap">
        <div class="title">
          <span>Welcome!</span> KCAL-CAL에 오신 것을 환영합니다!
        </div>
        <hr />
        <form name="form_login">
          <div class="id">
            <input
              type="text"
              class="inputBox"
              name="id"
              id="id"
              placeholder="아이디를 입력해주세요."
              required
            />
            <div id="idError" class="error"></div>
          </div>

          <div class="pw">
            <input
              type="password"
              class="inputBox"
              name="pw"
              id="pw"
              placeholder="비밀번호를 입력해주세요."
              required
            />
            <div id="pwError" class="error"></div>
          </div>

          <div class="login">
            <button type="button" id="loginBtn" onclick="login();">
              로그인
            </button>
            <br />

            <div class="loginEtc">
              <ul>
                <li>
                  <a
                    role="button"
                    data-bs-toggle="modal"
                    data-bs-target="#findId"
                    >아이디찾기</a
                  >
                </li>
                <li>
                  <a
                    rold="button"
                    data-bs-toggle="modal"
                    data-bs-target="#findPw"
                    >비밀번호찾기</a
                  >
                </li>
                <li><a href="/signup">회원가입</a></li>
              </ul>
            </div>
            <!-- <li onclick="kakaoLogout();">
                <a href="javascript:void(0)">
                  <span>카카오 로그아웃</span>
                </a>
              </li> -->
          </div>

          <span class="hr-sect">또는</span>

          <!-- 카카오 -->
          <div class="socialLogin">
            <a href="javascript:void(0)">
              <img
                src="/static/img/kakao_login.png"
                alt="카카오"
                id="kkoLoginBtn"
                onclick="kakaoLogin();"
              />
            </a>
            <a href="javascript:void(0)">
              <img
                src="/static/img/kakao_start.png"
                alt="카카오"
                id="kkoSignupBtn"
                onclick="kakaoLogin();"
              />
            </a>
          </div>
        </form>
      </div>
    </div>

    <!-- 아이디찾기 모달(vertically centered) -->
    <div
      class="modal fade"
      id="findId"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              아이디 찾기
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form name="form_findId">
              <div class="oneine">
                <input
                  type="text"
                  id="findUseremailID"
                  class="inputBox"
                  placeholder="회원가입시 등록한 이메일 입력"
                />
                <button type="button" id="lookupEmail" onclick="lookup(); ">
                  이메일 조회
                </button>
              </div>
              <div id="showId"></div>
            </form>
            <br />
            <div class="loginEtc">
              <ul>
                <li>
                  <a
                    rold="button"
                    data-bs-toggle="modal"
                    data-bs-target="#findPw"
                  >
                    비밀번호 찾기</a
                  >
                </li>
                <li>
                  <a href="/login">로그인 하러 가기</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 비번찾기 모달(vertically centered) -->
    <div
      class="modal fade"
      id="findPw"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              비밀번호 찾기
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form name="form_findPw">
              <div class="oneine">
                <input
                  type="text"
                  id="findUseremailPW"
                  class="inputBox"
                  placeholder="회원가입시 등록한 이메일 입력"
                />
                <button type="button" id="lookupEmail" onclick="sendEmail(); ">
                  인증번호 전송
                </button>
              </div>
              <!--전송완료 여부 -->
              <div id="showResult">
                <input type="number" id="authNumber" />
              </div>
            </form>
            <br />
            <div class="loginEtc">
              <ul>
                <li>
                  <a
                    role="button"
                    data-bs-toggle="modal"
                    data-bs-target="#findId"
                  >
                    아이디 찾기</a
                  >
                </li>
                <li>
                  <a href="/login">로그인 하러 가기</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- 카카오 로그인 api 스크립트 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <!-- 로그인 버튼 -->
    <script src="/static/js/login.js"></script>

    <!--아이디 찾기 -->
    <script>
      function lookup() {
        const form = document.forms["form_findId"];
        // findUseremail 인풋박스 id
        //console.log(form.findUseremail.value);
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "POST",
          url: "/login/findId",
          data: {
            useremail: form.findUseremailID.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            document.querySelector("#showId").textContent = `${data}`;
            //document.getElementById("findUseremail").value = "";
          });
      }

      //비밀번호 찾기

      function sendEmail() {
        const form = document.forms["form_findPw"];

        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "POST",
          url: "/login/mail",
          data: {
            useremail: form.findUseremailPW.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            if (data) {
              document.querySelector("#showResult").textContent =
                "인증번호가 발송되었습니다";
            } else {
              document.querySelector("#showResult").textContent =
                "해당하는 이메일을 찾을 수 없습니다.";
            }
          });
      }

      //모달창 닫았을 때 input값 초기화
      $(".modal").on("hidden.bs.modal", function (e) {
        console.log("modal close");
        $(this).find("form")[0].reset();
      });
    </script>
  </body>
</html>
