<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME | Kcal-cal</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="../static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="../static/css/header.css">
  <!-- css : main -->
  <link rel="stylesheet" href="../static/css/main.css">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <%- include('header.ejs') %>

  <!-- main content -->
  <main>
    <section>
      <h2 class="hidden">Main Content</h2>
      <article class="hello">
        <h3 class="hidden">기초 대사량 칼로리 게이지</h3>

        <p>XX 님,<br>환영합니다 &#58;&#41;</p>

        <div class="progress">
          <progress value="20" max="100"></progress>
        </div>

      </article>

      <article class="search">
        <h3 class="hidden">음식 칼로리 체크하기</h3>

        <form name="search" action="/" method="post" role="search">
          <label for="search">음식 또는 브랜드명 검색</label>
          <input name="search" id="search" placeholder="음식 또는 브랜드명 검색" autofocus required />
          <button type="button" onclick="inputInformation();">Go</button>
        </form>
        <ul class="food-list">
        </ul>
        
      </article>
    </section>
  </main>
  <script>
     //크롤러 값 리스트에 작성
    const form = document.forms["search"];
    function inputInformation(){

    axios({
      method: "POST",
      url: "/",
      data: {
        search: form.search.value
      },
    }).then((res) => {
      console.log("res.data >> ",res.data);
      return data = res.data;
    }).then((data) => {
      console.log("data>>>",data);
      console.log("data[0]>>>",data[0]);
      const keys = Object.keys(data);
      const value = [];
      for(let i = 0; i < keys.length; i++){
        const key = keys[i]
        value[i] = data[key]
      }
      
      
      const foodsInformation = document.querySelectorAll('.foods-information');
      
      if(foodsInformation == null) {
        for(let i = 0 ; i < value[0].length ; i++){
          const html = `
      <li class="foods-information">
        <dl>
        <dt class="food-name">${value[0][i].title}</dt>
        <dd class="food-brand ">${value[0][i].brand}</dd>
        <dd class="food-vol">${value[0][i].amount}</dd>
      </dl>
      <div class="cal-box clearfix">
        <p class="food-kcal">${value[0][i].kcal}</p>
        <p class="food-car">${value[0][i].carbs}</p>
        <p class="food-protein">${value[0][i].protein}</p>
        <p class="food-fat">${value[0][i].fat}</p>
      </div>
      <div class="select"><i class="fas fa-check"></i></div>
      <hr>
    </li>
    `;
    
    const foodList = document.querySelector('.food-list');
    foodList.insertAdjacentHTML('afterbegin', html);
    
  }} else{
    for(let i = 0 ; i < foodsInformation.length ; i++){  
      foodsInformation[i].parentNode.removeChild(foodsInformation[i]);
    }
    for(let i = 0 ; i < value[0].length ; i++){
      const html = `
      <li class="foods-information">
        <dl>
          <dt class="food-name">${value[0][i].title}</dt>
        <dd class="food-brand ">${value[0][i].brand}</dd>
        <dd class="food-vol">${value[0][i].amount}</dd>
        </dl>
        <div class="cal-box clearfix">
        <p class="food-kcal">${value[0][i].kcal}</p>
        <p class="food-car">${value[0][i].carbs}</p>
        <p class="food-protein">${value[0][i].protein}</p>
        <p class="food-fat">${value[0][i].fat}</p>
        </div>
        <div class="select"><i class="fas fa-check"></i></div>
        <hr>
        </li>
        `;
        
    const foodList = document.querySelector('.food-list');
        foodList.insertAdjacentHTML('afterbegin', html);
      }
    }
  })}

  //칼로리, 탄수화물, 단백질, 지방 값들 게이지에 적용
  const checkButton = document.querySelector(".select");
  checkButton.addEventListener('click', function(){
    
  })
  </script>
</body>

</html>