<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME | Kcal-cal</title>

  <script defer>
  
  </script>
  <!-- favicon -->
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="../static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="../static/css/header.css">
  <!-- css : main -->
  <link rel="stylesheet" href="../static/css/main.css">
  <!-- css : radial -->
  <link rel="stylesheet" href="../static/css/radial.css">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="wrap">
    <%- include('header.ejs') %>

    <!-- main content -->
  <main>
    <section class="part1">
      <h2 class="hidden">Main Content</h2>
      <!-- gauge -->
      <article class="gauge">
        <h3 class="hidden">기초 대사량 칼로리 게이지</h3>

        <p>XX 님,<br>환영합니다 &#58;&#41;</p>

        <div class="kcal-bar-background">
          <span class="kcal-value"></span>
          <div class="kcal-bar">
          </div>
        </div>
      </article>

      <!-- kcal search -->
      <article class="search">
        <h3 class="hidden">음식 칼로리 체크하기</h3>
        <form name="search" action="/" method="post" role="search">
          <label for="search">음식 또는 브랜드명 검색</label>
          <input name="search" id="search" placeholder="음식 또는 브랜드명 검색" autofocus required/>
          <button type="submit">Go</button>
        </form>
        <ul class="food-list">
        </ul>
      </article>
    </section>
    탄수화물의 충분섭취량은 90g이 이상적이며, 단백질인 경우 60g이 적당합니다. 지방의 경우 충분섭취량은 25g 정도가 됩니다.
    <section class="part2">
      <div class="pie protein"></div>
      <div class="pie fat"></div>
      <div class="pie carbs"></div>
      </section>
    </main>
  </div>
  <script>
     // function crawler 크롤러 값 리스트에 작성
     const form = document.forms["search"];
    form.addEventListener('submit', (event) => {
      event.preventDefault();
      axios({
        method: "POST",
      url: "/",
      data: {
        search: form.search.value
      },
    }).then((res) => {
      return data = res.data;
    }).then((data) => {
      const keys = Object.keys(data);
      const value = [];
      for(let i = 0; i < keys.length; i++){
        const key = keys[i]
        value[i] = data[key]
      }
      
      
      const foodsInformation = document.querySelectorAll('.foods-information');
      
      if(foodsInformation == null) {
        for(let i = 0 ; i < value[0].length ; i++){
          const html = 
          `
      <li class="foods-information">
        <dl>
        <dt class="food-name">${value[0][i].title}</dt>
        <dd class="food-brand ">${value[0][i].brand}</dd>
        <dd class="food-vol">${value[0][i].amount}</dd>
        </dl>
        <div class="cal-box clearfix">
          <p class="food-kcal">${value[0][i].kcal}kcal</p>
        <p class="food-car">탄수화물 ${value[0][i].carbs}g</p>
        <p class="food-protein">단백질 ${value[0][i].protein}g</p>
        <p class="food-fat">지방 ${value[0][i].fat}g</p>
        </div>
        <div class="select" onclick="addKcal(${value[0][i].kcal});"><i class="fas fa-check"></i></div>
        <hr>
        </li>
        `;
        
        const foodList = document.querySelector('.food-list');
        foodList.insertAdjacentHTML('afterbegin', html);
        
      }} else{
    for(let i = 0 ; i < foodsInformation.length ; i++){  
      foodsInformation[i].parentNode.removeChild(foodsInformation[i]);
    }
    for(let i = 0 ; i < value[0].length ; i++){
      const html = `
      <li class="foods-information">
        <dl>
          <dt class="food-name">${value[0][i].title}</dt>
          <dd class="food-brand ">${value[0][i].brand}</dd>
          <dd class="food-vol">${value[0][i].amount}</dd>
          </dl>
      <div class="cal-box clearfix">
        <p class="food-kcal">${value[0][i].kcal}kcal</p>
        <p class="food-car">탄수화물 ${value[0][i].carbs}g</p>
        <p class="food-protein">단백질 ${value[0][i].protein}g</p>
        <p class="food-fat">지방 ${value[0][i].fat}g</p>
        </div>
        <div class="select" onclick="addKcal(${value[0][i].kcal},${value[0][i].carbs},${value[0][i].protein},${value[0][i].fat});"><i class="fas fa-check"></i></div>
        <hr>
        </li>
        `;
        
        const foodList = document.querySelector('.food-list');
        foodList.insertAdjacentHTML('afterbegin', html);
      }
    }
    
    //function kcal gage  칼로리 값 게이지에 적용
    
  
  })}
    //질문!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //클릭할때마다 숫자, 그래프 더하기 ----- if else 문을 주었는데 적용이 안되는데 다르게 해야 하는지?
  //클릭할때 그래프 애니메이션 적용 ---- then으로 써야 적용이 되는지?
  );
  </script>
  <script src="/static/js/gage.js"></script>
</body>

</html>