
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="../static/css/header.css" />
    <!-- css : main -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>


  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <section class="part1">
          <h2 class="hidden">Main Content</h2>
          <!-- gauge -->
          <article class="gauge">
            <h3 class="hidden">기초 대사량 칼로리 게이지</h3>

            <p>XX 님,<br />환영합니다 &#58;&#41;</p>

            <div class="kcal-bar-background">
              <span class="kcal-value"></span>
              <div class="kcal-bar">
              </div>
          </article>

      


      <!-- kcal search -->
      <article class="search">
        <h3 class="hidden">음식 칼로리 체크하기</h3>
        <form name="search" action="/" method="post" role="search">
          <label for="search">음식 또는 브랜드명 검색</label>
          <input name="search" id="search" placeholder="음식 또는 브랜드명 검색" autofocus required/>
          <button type="submit">Go</button>
        </form>
        <ul class="food-list">
        </ul>
      </article>
    </section>
    <section class="part2">
      <div class="pie protein"></div>
      <div class="pie fat"></div>
      <div class="pie carbs"></div>
      </section>
    </main>
  </div>
  
  <!-- 공지사항팝업 -->
  <div id="showimage">
    <div>
      <img
      src="../static/img/popup.png"
      alt="매일 체중을 측정해서 변화를 체감해보세요!"
      />
      </div>
      <div>
        <input
        type="checkbox"
        name="Notice"
        id="Notice"
        title="오늘은 이창을 열지 않음 선택상자"
        />
        <label for="Notice">오늘은 이창을 열지 않음.</label>
        <a
        href="/cookie"
        onclick="closeWin();hidebox();return false;"
        style="color: #fff"
        >
        [close]
        </a>
        </div>
    </div>
  <script src="/static/js/crawler.js"></script>
  <script src="/static/js/addkcal.js"></script>
</body>

</html>
