<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="../static/css/header.css" />
    <!-- css : sub -->
    <link rel="stylesheet" href="../static/css/sub.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <style>
      #userInfo {
        /* background: #d9ebdf; */
        width: 100%;
        min-width: 320px;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .inputBox {
        outline: none;
        border: 1px solid gray;
        border-radius: 5px;
        box-sizing: border-box;
        display: inline-block;
        max-width: 530px;
        padding: 15px;
        width: 100%;
        margin: 0px 0px 10px;
      }

      .inputBox:focus {
        border: 2px solid #34945c;
        background-color: #f7faf9;
        border-radius: 5px;
        box-sizing: border-box;
        display: inline-block;
        max-width: 530px;
        padding: 15px;
        width: 100%;
        margin: 0px 0px 10px;
      }
      #editBtn,
      #delBtn {
        text-transform: uppercase;
        outline: 0;
        background: #3dad6b;
        width: 100%;
        max-width: 530px;
        border: 0;
        border-radius: 5px;
        padding: 15px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        margin-top: 20px;
      }

      #editBtn:hover,
      #delBtn:hover,
      #editBtn:active,
      #delBtn:active,
      #editBtn:focus,
      #delBtn:focus {
        background: #34945c;
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <div id="wrap">
      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <h3>내 정보</h3>
          <article class="profile1">
            <img
              src="https://ca.slack-edge.com/T0417T8AR8U-U0415AS4GLT-9052f3c17396-512"
              alt=""
            />
            <form name="form_mypage">
              <!-- <label for="nickname" name="info" id="nickname"></label> -->
              <div id="userInfo">
                <!-- id값 수정 불가 -->
                <input
                  type="text"
                  class="inputBox"
                  id="userid"
                  readonly
                  disabled
                  placeholder="userID"
                />
                <!-- <label for=""></label> -->

                <!-- nickname 수정 가능 -->
                <input
                  type="text"
                  class="inputBox"
                  id="nickname"
                  placeholder="Nickname"
                />

                <!-- PW 수정가능 & 일치 확인-->
                <input
                  type="password"
                  class="inputBox"
                  id="userpw"
                  placeholder="userPW"
                />
                <input type="password" class="inputBox" placeholder="checkPW" />

                <!-- email 수정 불가 -->
                <input
                  type="email"
                  class="inputBox"
                  id="useremail"
                  readonly
                  disabled
                  placeholder="userEmail"
                />

                <!-- 키 -->
                <input
                  type="number"
                  class="inputBox"
                  id="userheight"
                  placeholder="height"
                />

                <!-- 나이 -->
                <input
                  type="number"
                  class="inputBox"
                  id="userage"
                  placeholder="age"
                />

                <!-- 성별 -->
                <input
                  type="text"
                  class="inputBox"
                  id="gender"
                  pattern="M|F"
                  placeholder="gender(M/F)"
                />
              </div>
              <button type="button" id="editBtn" onclick="editInfo();">
                수정하기
              </button>
              <button type="button" id="delBtn" onclick="delInfo();">
                회원탈퇴
              </button>
            </form>
          </article>
          <!-- <article class="profile2">
          <form>
            <label for="age" id="age">나이</label>
            <input type="number">
            <label for="weight">몸무게</label>
            <input type="text">
            <button>수정</button>
          </form>
        </article> -->
        </section>
      </main>
    </div>

    <script>
      const form = document.forms["form_mypage"];

      function editInfo() {
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "PATCH",
          url: "/mypage/edit",
          data: {
            userid: form.userid.value,
            userpw: form.userpw.value,
            useremail: form.useremail.value,
            nickname: form.nickname.value,
            gender: form.gender.value,
            age: form.userage.value,
            height: form.userheight.value,
          },
        }).then((res) => {
          //성별

          //if ((gender == "M") | (gender == "F")) {
          return res.data;
          //alert("수정 완료!");
          //  } else {
          //  alert('성별은 남성일 경우 "M", 여성일 경우 "F"를 입력해주세요.');
          //   form.reset();
          //  }
        });
      }

      function delInfo() {
        axios({
          method: "DELETE",
          url: "/mypage/delete",
          data: {
            userid: form.userid.value,
            userpw: form.userpw.value,
            useremail: form.useremail.value,
            nickname: form.nickname.value,
            gender: form.gender.value,
            age: form.userage.value,
            height: form.userheight.value,
          },
        }).then((res) => {
          alert("정상적으로 회원 탈퇴 되었습니다.");
          document.location.href = "/";
        });
      }
    </script>
  </body>
</html>
