<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>건강관리 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="../static/css/header.css" />
    <!-- css : sub -->
    <link rel="stylesheet" href="../static/css/sub.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <h3>칼로리 그래프</h3>
          <article></article>
        </section>
      </main>
    </div>
  </body>
</html>
