<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지 | Kcal-cal</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <!-- css: reset -->
  <link rel="stylesheet" href="../static/css/reset.css">
  <!-- css: header -->
  <link rel="stylesheet" href="../static/css/header.css">
  <!-- css : sub -->
  <link rel="stylesheet" href="../static/css/sub.css">
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- xelcon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
  <%- include('header.ejs') %>

  <!-- main content -->
  <main>
    <section>
      <h2 class="hidden">Main Content</h2>
      <h3>내 정보</h3>
      <article class="profile1">
        <img src="https://ca.slack-edge.com/T0417T8AR8U-U0415AS4GLT-9052f3c17396-512" alt="">
        <form action="">
          <label for="nickname" name="info" id="nickname"></label>
          <input type="text" placeholder="고정아이디값">
          <label for=""></label>
          <input type="text">
          <button>수정</button>
        </form>
      </article>
      <article class="proflie2">
        
      </article>
    </section>
  </main>

</body>

</html>