<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>건강관리 | Kcal-cal</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <!-- css: reset -->
    <link rel="stylesheet" href="../static/css/reset.css" />
    <!-- css: header -->
    <link rel="stylesheet" href="../static/css/header.css" />
    <!-- css : sub -->
    <link rel="stylesheet" href="../static/css/sub.css" />
    <!-- fontawsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- xelcon -->
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <!-- Chart js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      <%- include('header.ejs') %>

      <!-- main content -->
      <main>
        <section>
          <h2 class="hidden">Main Content</h2>
          <h3>몸무게 그래프</h3>
          <article></article>
        </section>
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </main>
    </div>
    <script>
      const ctx = document.getElementById("myChart");

      //chart data set
      new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "10/01",
            "10/15",
            "10/31",
            "11/01",
            "11/04",
            "11/28",
            "12/05",
            "12/22",
          ], //가로축, 날짜/시간 값 들어갈 곳
          datasets: [
            {
              label: "몸무게", //hover시 데이터값 이름과 상단에 보일 데이터 이름
              data: [81, 83, 81, 60, 55, 90, 92, 85], // 세로축, 몸무게 값.
              borderWidth: 3, //선/원 두께
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: false, //true: 0 - 100그래프     false: 최저값 - 최고값
            },
          },
        },
      });
    </script>
  </body>
</html>
