<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios CDN (for AXIOS) -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>search api test</title>
  </head>
  <body>
    <form action="/search" method="post" content-type>
      <input
        id="search-input"
        name="query"
        type="text"
        placeholder="  search..."
      />
      <button id="search-btn"><span id="btn-icon">search</span></button>
    </form>
  </body>
</html>
