<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery CDN (for AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <form method="get" name="search">
      <input type="text" id="searchInput" />
      <button type="button" onclick="Search()">검색</button>
    </form>
    <p class="search"></p>
    <script>
      function Search() {
        let result = document.forms["search"].searchInput.value;
        console.log(result);
        const search = document.querySelector(".search");

        $.ajax({
          method: "GET",
          url: "https://dapi.kakao.com/v2/search/blog?target=title",
          data: { query: result },
          // data: { query: `${result}` },
          // data: { query: '건강' },
          headers: {
            Authorization: "KakaoAK a781e81dc26fc9d9edf0b4cb02c30760",
          },
        }).done(function (msg) {
          console.log(msg);
          for (i = 0; i < msg.documents.length; i++) {
            const html = `
                <h2>${msg.documents[i].title}</h2>
                <h4>${msg.documents[i].blogname}</h4>
                <p>${msg.documents[i].contents.substr(0, 200)}...</p>
                <h6>${msg.documents[i].datetime.substr(0, 10)}</h6>
                <a href="${msg.documents[i].url}">자세히 보기</a>
            `;
            search.insertAdjacentHTML("afterbegin", html);
          }
        });
      }
    </script>
  </body>
</html>
