/* header common area */
#headerArea {
  width: 215px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #f7f7f7;
  overflow: hidden;
}

#headerArea .headerInner {
  width: 200px;
  height: 96vh;
  background: #3dad6b;
  margin: 15px 0 15px 15px;
  z-index: 1000;
  border-radius: 15px 0 0 15px;
}

#headerArea .logo a {
  display: block;
  width: 200px;
  height: 100px;
  background: url("../img/Kcal-logo.png") 0 0 no-repeat;
  background-size: 80%;
  background-position: 50%;
  text-indent: -999px;
  overflow: hidden;
}

#headerArea h3 {
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
}

#headerArea h3 i {
  margin-right: 10px;
}

#headerArea h3 a {
  display: block;
  padding: 12px;
  margin-left: 30px;
}

#headerArea #gnb ul li{
  position: relative;
  top: 0;
  left: 0;
}

#headerArea #gnb ul li.active {
  background: #fff;
  border-radius: 20px;
  margin-left: 20px;
}

#headerArea #gnb ul li.active a {
  color: #3dad6b;
  margin-left: 11px;
}

#headerArea #gnb ul li b.top-curve {
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 50px;
  background: #fff;
  display: none;
}

#headerArea #gnb ul li b.top-curve::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  background: #3dad6b;
}

#headerArea #gnb ul li b.bottom-curve {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 55px;
  background: #fff;
  display: none;
}

#headerArea #gnb ul li b.bottom-curve::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 20px;
  border-top-right-radius: 20px;
  height: 20px;
  background: #3dad6b;
}

#headerArea #gnb ul li.active b.top-curve,
#headerArea #gnb ul li.active b.bottom-curve {
  display: block;
}