body {
  font-family: 'Noto Sans KR', 'Roboto', "돋움", Dotum, "굴림", Gulim, sans-serif;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 70vw;
  margin: 10px auto;
  color: #333;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  width: 200px;
  height: 50px;
}

header .logo a {
  display: block;
  width: 200px;
  height: 50px;
  background: url("../img/logo_c.png") 0 0 no-repeat;
  background-size: 80%;
  background-position: 50%;
  text-indent: -999px;
  overflow: hidden;
}

header ul {
  width: 200px;
  display: flex;
  justify-items: center;
  align-items: center;
}

header ul li {
  margin-left: 10px;
}

header ul li a {
  padding: 10px;
}

article {
  padding: 140px 0;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  word-break: keep-all
}

p {
  padding: 30px 0;
  font-weight: 400;
  word-break: keep-all
}

/* start ---------------------- */
.start {
  display: flex;
  justify-content: space-between;
  padding: 140px 0 100px;
}

.start div {
  width: 40%;
  margin-top: 140px;
}

.start ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.start ul li {
  width: 48%;
}

.start ul li a {
  display: block;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #3dad6b;
  font-size: 1em;
  transition: all .3s;
}

.start ul li:nth-child(1) a {
  background: #3dad6b;
  color: #fff;
}

.start ul li:nth-child(2) a {
  background: #fff;
  color: #3dad6b;
}

.start ul li:nth-child(2) a:hover{
  background: #3dad6b;
  color: #fff;
}

@media (max-width: 1024px) {
  main {
    width: 70vw;
  }

  .start {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .start div {
    width: 100%;
  }

  .start h2 {
    text-align: center;
  }

  .start p {
    text-align: center;
  }

  .start_ch2 {
    margin-bottom: 50px;
  }

  .start img {
    width: 100%;
  }
}

/* record -------------------- */
.record {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.record div {
  width: 40%;
  justify-content: center;
  margin-top: 140px;
}

@media (max-width: 1024px) {
  .record {
    display: flex;
    flex-direction: column;
  }

  .record div {
    width: 100%;
    margin: 100px auto;
  }

  .record img {
    width: 100%;
  }
}

/* target --------------*/
.target {
  padding: 140px 0;
}

.target h2 {
  text-align: center;
}

.target p {
  margin: 20px auto;
  text-align: center;
  word-break: keep-all;
}

.target h3 {
  font-size: 1.25em;
  margin: 20px auto;
}

.target ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 0;
}

.target ul li {
  margin: 30px;
}

.target ul li img {
  width: 110px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.067) 0px 2px 16px 2px;
}

@media (max-width: 1024px) {
  .target ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* idea ----------------- */
.idea {
  text-align: center;
}

.idea ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.idea ul li {
  text-align: center;
}

.idea ul li img {
  width: 80%;
}

@media (max-width: 1024px) {
  .idea {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .idea ul {
    margin: 10% auto;
  }

  .idea h2 {
    width: 100%;
    margin: 0;
  }
}

#showimage {
  z-index: 100;
  position: absolute;
  left: 37%;
  bottom: 280px;
  text-align: center;
  color: #333;
}

img {
  width: 50%;
}