header .logo a {
  display: block;
  width: 200px;
  height: 100px;
  background: url("../img/kcal-logo.png") 0 0 no-repeat;
  background-size: 80%;
  background-position: 50%;
  text-indent: -999px;
  overflow: hidden;
}

main {
  width: 1200px;
  margin: 100px auto;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  font-size: 1.3em;
}

.article1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10em;
  margin-top: 10em;
}

.article1>div {
  width: 50%;
}

.article1 h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}

.article1 p {
  margin: 30px 0 30px 0;
  line-height: 25px;
  text-align: center;
  margin-bottom: 5%;
}

.article1 a {
  display: block;
  background-color: #0B57E0;
  border-radius: 5px;
  height: 2em;
  font-size: 2em;
  color: #fff;
  margin: 0 auto;
  margin: 5rem auto;
}

@media (max-width: 1024px) {
  main {
    width: 70vw;
  }

  .article1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .article1 div {
    width: 100%;
  }

  .article1 h2 {
    text-align: center;
  }

  .article1 p {
    text-align: center;
  }

  .article1_ch2 {
    margin-bottom: 50px;
  }

  .article1 img {
    width: 100%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.article2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10em;
}

.article2 div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article2 h2 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media (max-width: 1024px) {
  .article2 {
    display: flex;
    flex-direction: column;
  }

  .article2 div {
    width: 100%;
    margin: 100px auto;
  }

  .article2 img {
    width: 100%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.article3 h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}

.article3 p {
  margin: 50px auto;
  width: 50%;
}

.article3 h3 {
  margin: 10px auto;
}

.article3 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.article3 li {
  margin: 10px;
}

.article3 li img {
  width: 200px;
  border-radius: 200px;
  box-shadow: rgba(0, 0, 0, 0.067) 0px 2px 16px 2px;
  box-sizing: 100px;
}

@media (max-width: 1024px) {
  .article3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* -----------------------------------------------------------------*/
.article4 {
  text-align: center;
  margin: 5em;
}

.article4 h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin: 1em;
}

.article4 ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 3em;
}

.article4 li {
  text-align: center;
}

.article4 li img {
  background-color: #fff;
  width: 50%;
}

img {
  width: 50%;
}

@media (max-width: 1024px) {
  .article4 {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .article4 ul {
    margin: 10% auto;
  }

  .article4 h2 {
    width: 100%;
    margin: 0;
  }
}