body {
  background: #eee;
  color: #333;
  font-family: 'Noto Sans KR', 'Roboto', "돋움", Dotum, "굴림", Gulim, sans-serif;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#wrap {
  width: 96vw;
  height: 96vh;
  margin: 2vh auto;
  background: #fff;
  border-radius: 15px;
  display: flex;
}

main{
  width: 80%;
}

#userInfo {
  /* background: #d9ebdf; */
  width: 100%;
  min-width: 320px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 530px;
  padding: 15px;
  width: 100%;
  margin: 0px 0px 10px;
}

.inputBox:focus {
  border: 2px solid #34945c;
  background-color: #f7faf9;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 530px;
  padding: 15px;
  width: 100%;
  margin: 0px 0px 10px;
}

#editBtn,
#delBtn {
  text-transform: uppercase;
  outline: 0;
  background: #3dad6b;
  width: 100%;
  max-width: 530px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
}

#editBtn:hover,
#delBtn:hover,
#editBtn:active,
#delBtn:active,
#editBtn:focus,
#delBtn:focus {
  background: #34945c;
  text-decoration: underline;
}