body {
  background: #eee;
  color: #333;
  font-family: "Noto Sans KR", "Roboto", "돋움", Dotum, "굴림", Gulim,
    sans-serif;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

#wrap {
  width: 96vw;
  height: 96vh;
  margin: 2vh auto;
  background: #fff;
  border-radius: 15px;
  display: flex;
}

main {
  width: 80%;
  /* overflow: hidden; */
}

article {
  background: #fff;
  border-radius: 20px;
  margin: 20px;
  /* box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .05); */
  padding: 30px 40px;
  overflow: hidden;
}

h3 {
  font-size: 2em;
}

/* SUB1 CSS */
/* input 창 카운트 업 없애기 */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

#sub1 {
  position: relative;
}

.BMI {}

.BMI .form {
  width: 40%;
  float: left;
}

#bmiCheckForm {
  padding: 50px 0 20px;
}

#bmiCheckForm label {
  font-size: 2em;
}

#bmiCheckForm input {
  margin: 10px;
  outline: none;
  width: 50%;
}

#bmiCheckForm #btnCalc {}

#result {
  padding: 10px 0;
}

#result li {
  display: flex;
}

#result h4 {
  font-size: 1.3em;
  font-weight: 500;
}

.BMI h4 {
  /* margin: 20px 0 10px; */
}

#result .graph {
  width: 100%;
  height: 10px;
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  height: 200px;
  overflow: hidden;
}

.BMIgraph {
  position: relative;
  top: 100px;
  left: 0;

}

.graph li li {
  float: left;
  text-align: center;
}

.graph li label {
  display: inline-block;
  width: 25%;
  float: left;
}

.graph li.low-weight {
  width: 25%;
  /* background: linear-gradient(to right, red, orange); */
  background: #111;
}

.graph li.regular {
  width: 25%;
  /* background: linear-gradient(to right, red, orange); */
  background: #333;
}

.graph li.overweight {
  width: 25%;
  /* background: linear-gradient(to right, red, orange); */
  background: #555;
}

.graph li.obesity {
  width: 25%;
  /* background: linear-gradient(to right, red, orange); */
  background: #777;
}

.graph li.overObesity {
  width: 25%;
  /* background: linear-gradient(to right, red, orange); */
  background: #999;
}

.BMIgraph .graphResult {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

input[type="number"] {
  padding: 10px 20px;
  border: solid 1px #212121;
  background-color: #fff;
  margin: 0;
  --webkit-appearance: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.compute input {
  padding: 11px;
  background: #3dad6b !important;
  color: #fff !important;
  cursor: pointer;
  border: 1px solid #3dad6b !important;
  font-weight: bold;
  transition: .3s all;
}

.compute input:hover {
  background: transparent !important;
  color: #3dad6b !important;
}

.graphWidth {
  position: relative;
}

.home{
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  left: 0;
  display: none;
}

/* SUB2 CSS */
.content_area {
  padding-top: 20px;
  overflow: hidden;
}

.content_area .list_header p {
  display: inline-block;
}

.content_area .list_header form input {
  width: 80%;
}

.content_area .list_header ul {
  display: flex;
  font-size: 2em;
  width: 10%;
}

.content_area .list_header ul li {
  margin-left: 20px;
}

.content_area .list_header p {
  font-size: 1.2em;
}

.content_area .list_content {
  overflow-y: scroll;
}

.content_area .list_content a {
  display: flex;
  padding: 20px 0;
}

.content_area .list_content .search > a:hover img {
  transform: scale(1.03);
}

.content_area .list_content .news {
  width: 70%;
}

.content_area .list_content .news h4 {
  font-size: 2em;
  font-weight: 500;
}

.content_area .list_content img {
  width: 30%;
  padding: 2%;
  transition: 0.4s ease-in-out;
  height: 100%;
}

/* SUB3 CSS */
#sub3 .graph{
  padding: 5% 0;
}

/* chart js */
#myChart {
  width: 500px;
  height: 500px;
}