body {
  background: #f7f7f7;
  color: #333;
  font-family: "Noto Sans KR", "Roboto", "돋움", Dotum, "굴림", Gulim,
    sans-serif;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

#wrap {
  width: 96vw;
  height: 96vh;
  margin: 2vh auto;
  background: #fff;
  border-radius: 15px;
  display: flex;
}

main {
  width: 80%;
  /* overflow: hidden; */
}

article {
  background: #fff;
  border-radius: 20px;
  margin: 20px;
  /* box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .05); */
  padding: 30px 40px;
  overflow: hidden;
}

h3 {
  font-size: 2em;
}

/* SUB1 CSS */
/* input 창 카운트 업 없애기 */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.BMI {
}

.BMI .form {
  width: 50%;
  float: left;
}

#bmiCheckForm {
  padding: 50px 0;
}

#result {
  padding: 10px 0;
}

#result ul li {
  display: flex;
}

#result h4 {
  font-size: 1.3em;
  font-weight: 500;
}

.BMI h4 {
  margin: 20px 0 10px;
}

.graph {
  width: 100%;
  height: 10px;
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  background: #333;
}

/* SUB2 CSS */
.content_area {
  padding-top: 20px;
  overflow: hidden;
}

.content_area .list_header p {
  display: inline-block;
}

.content_area .list_header form input {
  width: 80%;
}

.content_area .list_header ul {
  display: flex;
  font-size: 2em;
  width: 10%;
}

.content_area .list_header ul li {
  margin-left: 20px;
}

.content_area .list_header p {
  font-size: 1.2em;
}

.content_area .list_content {
  overflow-y: scroll;
}

.content_area .list_content a {
  display: flex;
  padding: 20px 0;
}

.content_area .list_content .search > a:hover img {
  transform: scale(1.03);
}

.content_area .list_content .news {
  width: 70%;
}

.content_area .list_content .news h4 {
  font-size: 2em;
  font-weight: 500;
}

.content_area .list_content img {
  width: 30%;
  padding: 2%;
  transition: 0.4s ease-in-out;
  height: 100%;
}

/* SUB3 CSS */
.profile1,
.profile2 {
  background: #f7f7f7;
  border-radius: 15px;
  display: flex;
}

.profile1 img {
  width: 20%;
  border-radius: 15px;
  padding: 2%;
}

.profile1 form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile1 form button {
  /* position: absolute; */
  top: 50%;
  right: 20%;
  background: #3dad6b;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.profile2 {
}

.profile2 form {
  display: flex;
  flex-direction: column;
}

/* chart js */
#myChart {
  width: 500px;
  height: 500px;
}
