body {
  background: #eee;
  color: #333;
  font-family: 'Noto Sans KR', 'Roboto', "돋움", Dotum, "굴림", Gulim, sans-serif;
  line-height: 1.5;
  letter-spacing: -1px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#wrap {
  width: 96vw;
  height: 96vh;
  margin: 2vh auto;
  background: #fff;
  border-radius: 15px;
  display: flex;
}

main {
  width: 80%;
}

article {
  background: #fff;
  border-radius: 20px;
  margin: 20px;
  padding: 30px 40px;
  overflow: hidden;
}

h3 {
  font-size: 2em;
}

#sub1 section {
  height: 96vh;
  position: relative;
}

#sub1 h3 {
  padding: 30px 40px 0;
  margin: 20px 0 0 20px;
}

#sub1 h4{
  margin-bottom: 10px;
}

#sub1 .BMI {
  display: flex;
  margin-bottom: 0;
}

.BMI h4 {
  font-size: 1.2em;
}

.BMI .form {
  background: #eee;
  border-radius: 20px;
  padding: 30px 40px;
  width: 40%;
  margin-right: 20px;
  overflow: hidden;
}

.BMI .info {
  width: 60%;
  background: #eee;
  border-radius: 20px;
  padding: 30px 40px;
  height: 300px;
  overflow: hidden;
}

.BMI .info:nth-child(2) p{
  margin-bottom: 40px;
}

.BMIgraph {
  background: #d9ebdf;
  border-radius: 20px;
  padding: 55px 40px;
  margin: 60px;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .05);
}

#result li{
  display: flex;
}

#result .graph {
  width: 100%;
  height: 10px;
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  height: 200px;
  overflow: hidden;
}

.graph li li {
  float: left;
  text-align: center;
}

.graph li label {
  display: inline-block;
  width: 24.5%;
}

.graph li.low-weight {
  width: 25%;
  background: linear-gradient(to right, #d9ebdf, #3dad6b);
}

.graph li.regular {
  width: 25%;
  background: linear-gradient(to right, #3dad6b, #094321);
}

.graph li.overweight {
  width: 25%;
  background: linear-gradient(to right, #094321, #dda15e);
}

.graph li.obesity {
  width: 25%;
  background: linear-gradient(to right, #dda15e, #bc6c25);
}

.BMIgraph .graphResult {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

/* sub2 */
